[submodule "ext_alfred_claude-search"]
	path = apps/exts_alfred_claude-search
	url = git@github.com:cs-magic/exts_alfred_claude-search.git
	branch = main

[submodule "uni-api"]
	path = apps/uni-api
	url = git@github.com:cs-magic/uni-api.git
	branch = main

[submodule "apps/scraper_companies"]
	path = apps/scraper_companies
	url = git@github.com:cs-magic/scraper_companies.git
[submodule "apps/simple-spiders"]
	path = apps/simple-spiders
	url = git@github.com:cs-magic/simple-spiders.git
[submodule "apps/scrapy-spiders"]
	path = apps/scrapy-spiders
	url = git@github.com:cs-magic/scrapy-spiders.git
[submodule "cases/rama"]
	path = cases/rama
	url = git@github.com:cs-magic/cases_rama.git
