[submodule "ext_alfred_claude-search"]
	path = apps/ext_alfred_claude_search
	url = git@github.com:cs-magic/exts_alfred_claude-search.git
	branch = main

[submodule "uni-api"]
	path = apps/uni-api
	url = git@github.com:cs-magic/uni-api.git
	branch = main

[submodule "apps/scraper_companies"]
	path = apps/scraper_companies
	url = git@github.com:cs-magic/scraper_companies.git
